<mat-sidenav-container class="dashboard-layout">
  <mat-sidenav #drawer
    mode="side"
    [opened]="true"
    class="sidebar-sidenav"
    [class.collapsed]="sidebarCollapsed">
    <app-sidebar [collapsed]="sidebarCollapsed" (collapsedChange)="sidebarCollapsed = $event"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content [class.content-shifted]="!sidebarCollapsed" [class.content-normal]="sidebarCollapsed">
    <div class="dashboard-content">
      <mat-toolbar color="primary" class="mat-elevation-z2" style="margin-bottom: 24px;">
        <span>Usuários</span>
        <span class="spacer"></span>
        <!-- Futuras ações: <button mat-icon-button><mat-icon>add</mat-icon></button> -->
      </mat-toolbar>
      <mat-card>
        <mat-card-content>
          <div class="users-table-wrapper">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let user">{{ user.id }}</td>
              </ng-container>
              <!-- Nome Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
                <td mat-cell *matCellDef="let user">{{ user.name }}</td>
              </ng-container>
              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let user">{{ user.email }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
          </div>
          <tr mat-row *matNoDataRow>
            <td colspan="3" class="no-users">Nenhum usuário encontrado.</td>
          </tr>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
